<h2>Reactivos: <small>Dinámicos</small></h2>
<hr>
<form action="" autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="guardar()" >
    <!-- Nombre -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input  type="text"
                    class="form-control"
                    placeholder="Nombre de la persona"
                    formControlName="nombre">
                    <span   class="form-text text-danger"
                            *ngIf="formularioNoValido('nombre')">
                        Este campo es obligatorio y debe tener al menos 3 caracteres
                    </span>
        </div>
    </div>

    <!-- Agregar Favorito -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="input-group">
                <input  class="form-control"
                        placeholder="Agregar Favorito"
                        >
                <button class="btn btn-outline-primary"
                        type="button"
                        >
                    Agregar
                </button>
        </div>
    </div>

    <!-- Lista Juegos Favorios -->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-12">
            <!-- <div class="input-group mb-1"
                 *ngFor="let juego of persona.favoritos; let i = index">
                <input  class="form-control "
                        >
                <button class="btn btn-outline-danger"
                        type="button"
                        (click)="a=1">
                    Eliminar
                </button> 
            </div> -->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                    class="btn btn-primary float-end "
                    >
                    Guardar
            </button>
        </div>
    </div>
</form>
<!-- 
<span>Persona</span>
<pre>{{ persona |json}}</pre> -->
